*{
  margin: 0;
padding: 0;
font-family: sans-serif;
}


body{
  margin: 0;
  padding:0;
  border: 0;
}
h2{
  margin: 0;
  border: 0;
  font-family: 'Otomanopee One', sans-serif;
  line-height:0.4;
  font-size: 4.625rem;
  color: #66BFBF;
  text-align: right;
  padding: 0;
  width: 80%;
}
.top{
height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url("");
background-position: center;
padding: 0;
overflow-x: hidden;
position: relative;
}
.navbar{
  display: flex;
  padding: 42px 20px;
}
hr{
  border-color: black;
  width: 25%;
}
.nav-link{
  flex: 1;
}
.nav-link ul {

  display: inline;
  margin-left: 100px ;
}
.nav-link ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
  padding-left: 80px;
}
.nav-link ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 13px;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width:0;
  background: yellow;
  bottom: -10px;
  transition: -0.5s;
  margin: auto;
  display: block;

}
.navbar ul li:hover::after{
  width: 100%;
}

.btn{
  padding:10px 20px;
  border: 0;
  background: yellow;
  font-weight: bold;
}
/*.middle-container {
  text-align: center;
  padding: 10px 20px;
  position: absolute;
  right: 10%;
}
*/
a{
  color: white;
  padding: 5% 2%;
}
.mc-link{
  text-align: center;
}
.mc-link ul {

  display: inline;
  margin-left: 50px ;
}
.mc-link ul li{
  list-style: none;
  display: inline-block;
  padding: 30px 30px;
}
.mc-link ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
}
.mc-link ul li ::after{
  content:'';
  height: 3px;
  width:0;
  background: #009688;
  display: block;
  bottom: -10px;
  transition: 0.5s;
}
.mc-link ul li :hover::after{
  width: 100%;
}
.middle-container{
  background-color: #B5EAEA;
}
h1{
text-align: center;
text-transform: uppercase;
font-family: 'Ubuntu', sans-serif;
font-size: 40px;
padding:15px 15px;
}
.middle-container ul a{
    list-style-type:  square;
}
.middle-container ul li{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  padding-left: 15px;
  padding: 15px 50px;
  word-spacing: 5px;
  list-style: disc;
}
p{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  padding-left: 15px;
  padding: 5px 50px;

}
/*hr{
  border: 10px solid black;
  border-radius: 5px;
  position: absolute;
  left:25%;
}
